/*
 * 	Core Owl Carousel CSS File
 *	v1.3.2
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}


.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	margin-top:20px;
	position:relative;
	z-index:888;
}

.owl-buttons {
	position:relative;
	.owl-prev, .owl-next {
		background:#497680;
		color:#fff;
		display:inline-block;
		padding:10px 35px 11px 35px;
		line-height:24px;
		font-weight:bold;
		&:hover {
			background:#d2e6e6;
		}
	}
	.owl-prev {
		-webkit-border-top-left-radius: 7px;
		-webkit-border-bottom-left-radius: 7px;
		-moz-border-radius-topleft: 7px;
		-moz-border-radius-bottomleft: 7px;
		border-top-left-radius: 7px;
		border-bottom-left-radius: 7px;
		border-right:1px solid #fff;
	}
	.owl-next {
		-webkit-border-top-right-radius: 7px;
		-webkit-border-bottom-right-radius: 7px;
		-moz-border-radius-topright: 7px;
		-moz-border-radius-bottomright: 7px;
		border-top-right-radius: 7px;
		border-bottom-right-radius: 7px;
		border-left:1px solid #fff;
	}
}

.owl-pagination {
	margin-bottom:10px;
	text-align:center;
	.owl-page {
		display:inline-block;
		background:#adbabe;
		margin-right:5px;
		font-size:1.2em;
		width:10px;
		height:10px;
		border-radius:500px;
		-moz-border-radius:500px;
		-webkit-border-radius:500px;
	}
}

/* mouse grab icon */
.grabbing {
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}


/****************************
***  Palm Only
****************************/


@include media-query(palm){

}

/****************************
***  Lap
****************************/


@include media-query(lap-and-up){

}


/****************************
***  Desk
****************************/

@include media-query(desk){

}
